@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
  color: #333;
  font-weight: bold;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.container,
.content {
  display: flex;
  flex-direction: column;
}

.container {
  height: 100vh;
  justify-content: space-between;
}

.header,
.footer {
  display: flex;
  width: 100%;
  padding: 16px;
  justify-content: space-between;
}

a {
  color: #333;
}

.left-links,
.right-links {
  display: flex;
  gap: 8px;
}

.content {
  align-items: center;
  gap: 8px;
}

.footer {
  background: #eee;
}
